@media screen and (max-width:424px) {
    #extra-sales-caption {
        display: none;
    }
}

#sale-banner {
    margin: 0px;
    padding: 9px;
}

#quote-container {
    display: block;
    text-align: left;
    padding: 5px;
    justify-content: space-between;
    height: 100%;
    margin: 0 15%;
    position: relative;
}

#quote-container img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-height: 35%;
    margin-left: 10px;
    margin-top: 10px;
}

section .row:first-child h2 {
    text-align: center;
}

.callout-container {
    height: 100vh;

    background: url(../images/whiskey-cover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.quotes-container {}

.features-container {}

/*Jumbotron*/
.jumbotron {
       background-color: #50262623;
    backdrop-filter: blur(5px);
    /* border-radius: 40px; */
    /* box-shadow: 0px 4px 40px #502626; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding:30px 50px;
}

.jumbotron > h1 {
    font-weight:bold;
    margin-bottom: 30px;
}

.jumbotron > .text-muted > small {
    color: rgb(208, 207, 207);
}

/* Block dividers */

.block-divider {
        margin-bottom: 1rem;
        margin-top: -0.3em;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
        width: 90%;
}

.block-divider--orange {
    background-color: #ffa5005c;
}

.btn--cta {
    border-radius: 20px;
    padding: 5px 1px;
    width: 120px;
    margin:auto;
}

.btn--orange {
    background-color: #df4706ba;
    border:0;
}

.btn--orange:hover {
    background-color: #ff4d00cf;
}

.opaque-overlay {
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.5);
}

mark {
    --highlight-colour:#631d01c2;
    background-color: #ab924700;
    background-image: linear-gradient(transparent, transparent 40%, var(--highlight-colour) 30%, var(--highlight-colour) 70%, transparent 70%, transparent);
    color: white;
    font-size:1.07em;
}