@media screen and (max-width:424px) {
    #extra-sales-caption {
        display: none;
    }
}

#sale-banner {
    margin: 0px;
    padding: 9px;
}

#quote-container {
    display: block;
    text-align: left;
    padding: 5px;
    justify-content: space-between;
    height: 100%;
    margin: 0 15%;
    position: relative;
}

#quote-container img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-height: 35%;
    margin-left: 10px;
    margin-top: 10px;
}

section .row:first-child h2 {
    text-align: center;
}

.callout-container {
    height: 100vh;

    background: url(../images/whiskey-cover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-container {}

.features-container {}

/*Jumbotron*/
.jumbotron {
       background-color: #50262653;
    backdrop-filter: blur(5px);
    border-radius: 40px;
    box-shadow: 0px 4px 40px #502626;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding:30px 50px;
}

.jumbotron > h1 {
    font-weight:bold;
    margin-bottom: 30px;
}

.jumbotron > .text-muted > small {
    color: rgb(208, 207, 207);
}

.jumbotron button {
    width:150px;
    margin:auto;
}