@media screen and (max-width:424px){
    #extra-sales-caption {
        display:none;
    }
}

#sale-banner {
    margin: 0px;
    padding: 9px;
}

#quote-container {
    display: flex;
    text-align: left;
    padding: 5px 50px;
    height: 100%;
}